<!DOCTYPE html>
<html>
    <head>

      <style>
        
      </style>
    </head>


    <body>
        <div class="container panel panel-default reg ">
            <div class=""><h3 style="border-bottom:1px solid #ccc;text-align: center;line-height: 50px">个人资料</h3></div>
            <div class="panel-body">
            <form class="form form-horizontal" id="form-admin-add" enctype="multipart/form-data" action="/home/User/editData" method="post">
                <div class="row cl">
                    <label class="form-label col-xs-3"><span class="c-red">*</span>邮箱：</label>
                    <div class="formControls col-xs-8">
                            <input type="text" class="input-text" placeholder="@" name="email" id="email" autocomplete="off" value="{$data[0]['email']}">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-3"><span class="c-red">*</span>用户名：</label>
                    <div class="formControls col-xs-8">
                        <input type="text" class="input-text"  id="adminName" name="nickname" value="{$data[0]['nickname']}" >
                    </div>
                </div>
                <div class="row cl">
                        <label class="form-label col-xs-3"><span class="c-red">*</span>手机：</label>
                        <div class="formControls col-xs-8">
                                <input type="text" class="input-text" autocomplete="off" placeholder="手机" name="phone" id="telephone" value="{$data[0]['phone']}">
                        </div>
                </div>

                <!--上传头像-->
                <div class="row cl">
                    <label class="form-label col-xs-3"><span class="c-red">*</span>头像：</label>
                    <div class="formControls col-xs-8">
                        <input type="file" name="pic" />
                    </div>
                </div>

                <div class="row cl" style="margin-top:40px;">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-danger radius" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;确认&nbsp;&nbsp;">
                    </div>
                </div>
            </form>
            
          
        </div>
    </div>
    </body>
</html>